@font-face {
  font-family: 'icomoon';
  src:  url('fonts-social/icomoon.eot?fx8ji7');
  src:  url('fonts-social/icomoon.eot?fx8ji7#iefix') format('embedded-opentype'),
    url('fonts-social/icomoon.ttf?fx8ji7') format('truetype'),
    url('fonts-social/icomoon.woff?fx8ji7') format('woff'),
    url('fonts-social/icomoon.svg?fx8ji7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
